* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: #1e90ff; 
    color: white;
    padding: 10px 20px;
    text-align: center;
}


#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding-top: 60px;
}

#container {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
}

#search-sidebar {
    background-color: #fff;
    padding: 20px;
    width: 250px; 
}

#search-box input,
#search-box button,
#city-list button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search-box button {
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
}

#search-box button:hover {
    background-color: #0b5394;
}

#city-list button {
    background-color: #f8f8f8;
    cursor: pointer;
}

#city-list button:hover {
    background-color: #e9e9e9;
}

#weather-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f2f2f2;
}

#current-weather,
#forecast {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0#1);
}

#forecast h3 {
    margin-bottom: 10px;
}

#city-header {
    display: flex; 
    align-items: center; 
    justify-content: start; 
    gap: 10px;
}

#city-header h2 {
    margin: 0; 
    flex-grow: 1;
}

#city-header img {
    height: 50px;
    width: auto; 
}

#forecast-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.forecast-card {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forecast-card img {
    width: 50px; 
}